@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid silver;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  background-color: white;
}

.navbar__logo {
  font-size: large;
  font-weight: 600;
  padding-left: 16px;
  color: darkblue;
  cursor: pointer;
}

.navbar__list {
  font-size: 14px;
  display: flex;
  gap: 12px;
  padding-right: 16px;
  align-items: center;
}

.navbar__button {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar__list--mobile {
    background-color: darkblue;
    height: 100vh;
    color: white;
    position: fixed;
    top:52px;
    width: 100%;
  }
  
  .navbar__list--mobile a{
    display: block;
    padding: 8px;
    font-size: small;
  }

  .navbar__button {
    display: block;
  }

  .navbar__list {
    display: none;
  }
}

.layout {
  padding-top: 52px;
}